/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --black: #000;
    --pink: #FFE1E9;
    --dark-pink: #FFB7CA;
    --blue: #223055;
    --dark-gray: #899094;
    --gray: #B0B7C0;
    --light-gray: #f2f2f2;
    --white: #fff;
    --black-line: 1px solid var(--black);
    --black-bold-line: 3px solid var(--black);
    --padding-xl: 60px;
    --padding-l: 40px;
    --padding-m: 30px;
    --padding-s: 24px;
    --ease-out: cubic-bezier(0.25, 1, 0.5, 1);}